<html>
    <head>
        <title>My Gr_CHK Homepage</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Test</a></h1>
        </div>

          <div>
            <table>
                <tr>
                  <th>ชื่อสัญญา</th>
                  <th>PO</th>
                </tr>
              {% for contract in contracts %}
                <tr>
                  <td>{{ contract }}</td>
                  <td>{{ contract.po }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
    </body>
</html>
